<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <humanelement_configurable_email_encoding>
            <general>
                <enabled>1</enabled>
                <content_transfer_encoding>7bit</content_transfer_encoding>
            </general>
        </humanelement_configurable_email_encoding>
    </default>
</config>
