<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="HumanElement_ConfigurableEmailEncoding::config"
             resource="HumanElement_ConfigurableEmailEncoding::config"
             title="Configure Email Encoding"
             action="adminhtml/system_config/edit/section/humanelement_configurable_email_encoding"
             module="HumanElement_ConfigurableEmailEncoding"
             sortOrder="20"
             parent="HumanElement_Base::configuration"/>
    </menu>
</config>
